html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
  display: block;
}

body {
  margin: 0;
  font-family: 'PT Serif', serif;
}

.masthead {
  background-image: url("../images/masthead-bg.png");
  background-size: 200px auto;
  background-repeat: repeat;
  background-position: left top;
  margin: 0;
  padding: 1em 1.5em 0em 1.5em;
}

.heading {
  margin: 0;
  width: 100%;
}

nav {
  text-align: center;
  overflow: hidden;
  background-color: #603813;
  padding: 1em;
}

nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  float: left;
  width: 25%;
  margin: 0;
  padding: 0.25em;
}

nav a {
  text-decoration: none;
  color: #fff;
  background-color: #D57927;
  padding: 1em;
  display: block;
  border-radius: 1em;
}

nav a:hover {
  background-color: #9C2C27;
}

.western {
  position: relative;
}

h1 {
  font-size: 2em;
  margin: 0;
  color: #000;
  font-family: 'Aclonica', sans-serif;
  text-align: center;
}

.western {
  background-image: url("../images/western-sushi-roll.jpg");
  background-size: 100% auto;
  padding-top: 8em;
  padding-bottom: 8em;
  background-repeat: no-repeat;
  background-position: center top;
}

h2 {
  background-color: #9C2C27;
  color: #fff;
  margin: 0;
  padding: 1em;
  text-align: center;
  font-size: 2em;
}

.gallery {
  overflow: hidden;
}

p {
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  padding: 1.5em;
  overflow: hidden;
}

.about {
  margin: 2em 1em 2em 1em;
}

.menu {
  overflow: hidden;
  margin: 0;
}

.img-1 {
  width: 50%;
  float: left;
}

.par-1 {
  width: 50%;
  float: left;
}

.img-2 {
  width: 50%;
  float: right;
}

.par-2 {
  width: 50%;
  float: right;
}

.img-3 {
  width: 50%;
  float: left;
}

.par-3 {
  width: 50%;
  float: left;
}

.img-4 {
  width: 50%;
  float: right;
  clear: both;
}

.par-4 {
  width: 50%;
  float: right;
}

.img-5 {
  width: 50%;
  float: left;
  clear: both;
}

.par-5 {
  width: 50%;
  float: left;
}

.img-6 {
  width: 50%;
  float: right;
}

.par-6 {
  width: 50%;
  float: right;
}

.box-1 {
  float: left;
  width: 50%;
}

.box-2 {
  float: right;
  width: 50%;
}

.box-3 {
  float: left;
  width: 50%;
}

.box-4 {
  float: right;
  width: 50%;
}

h3 {
  background-color: #D57927;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin: 1em 2em 1em 2em;
}

.box-5 {
  position: relative;
  clear: both;
  margin: 0 auto;
  overflow: hidden;
  padding: 0;
}

.map {
  width: 100%;
  margin: 0;
}

.location {
  position: absolute;
  width: 20%;
  left: 14.5em;
  top: 7.5em;
}

.address {
  text-align: center;
  width: 100%;
  font-family: 'PT Serif', serif;
}

ol {
  text-align: center;
}

li {
  text-decoration: none;
  list-style-type: none;
}

footer {
  background-image: url("../images/masthead-bg.png");
  background-size: 200px auto;
  background-repeat: repeat;
  background-position: left bottom;
  padding: 6em;
  position: relative;
}

.back-to-top {
  width: 8%;
  text-align: center;
  position: absolute;
  left: 17em;
  bottom: 8em;
}
.to-top {
  color: #9C2C27;
  font-size: 1.5em;
  font-family: 'PT Serif', serif;
  position: absolute;
  top: 2.5em;
  left: 9.5em;
  text-decoration: none;
}

.end {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 10em;
  left: 2em;
}

.logo {
  width: 15%;
  position: absolute;
  left: 30em;
  top: 6.5em;
}
